.ball {
    /* width: 20px;
    height: 20px; */
    border-radius: 50%;
    border-left: 10px solid #ff0000;
    border-right: 10px solid #ff0000;
    border-top: 10px solid #fbff00;
    border-bottom: 10px solid #fbff00;
    position: absolute;
    animation: moveStartToEndAndThenEndToStart 8s linear infinite;
}
.ball:first-child{
    animation-delay: 0s;
}
.ball:nth-child(2){
    animation-delay: 2s;
}

@keyframes moveStartToEndAndThenEndToStart {
    0% {
        transform: translateX(0);
    }
}
.ball:last-child{}
span {
    color: rgba(165, 42, 42, 0.493);
    padding: 5px;
    background-color: rgb(196, 222, 255);
    display: inline;
    border: 1.8px solid #0d6dfd;
    border-radius: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    font-weight: bolder;
    font-size: 30px;
}

.box2 {
    border: 1.8px solid #0d6dfd5d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    border-radius: 8px;
    text-align: center;
}

h2 {
    border-bottom: 1.8px solid #0d6dfd5d;
    display: inline;
    margin-bottom: 5px;
}

.Minutes {
    margin-bottom: 10px;
}
@keyframes moveStartToEndAndThenEndToStart {
    0%,
    100% {
        left: 0;
    }

    50% {
        left: calc(100% - 20px);
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 600px) {
    .ball {
        border-radius: 50%;
        position: absolute;
        animation: moveStartToEndAndThenEndToStart 10s linear infinite;
    }
}