@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Permanent+Marker&display=swap');

* {
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Inconsolata', monospace;
    /* font-family: 'Permanent Marker', cursive; */

    font-weight: bold;

}

.btn-primary {
    margin: 0 5px 15px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    transition: 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.3s ease-in-out;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0d6efd;
    position: absolute;
    animation: moveStartToEndAndThenEndToStart 8s linear infinite;

}


@keyframes moveStartToEndAndThenEndToStart {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: calc(100% - 20px);
    }
}

span {
    color: rgba(165, 42, 42, 0.493);
    padding: 5px;
    background-color: rgb(196, 222, 255);
    display: inline;
    border: 1.8px solid #0d6dfd;
    border-radius: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    font-weight: bolder;
    font-size: 30px;
}

.box2 {
    border: 1.8px solid #0d6dfd5d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308);
    border-radius: 8px;
    text-align: center;
}

h2 {
    border-bottom: 1.8px solid #0d6dfd5d;
    display: inline;
    margin-bottom: 5px;
}

.Minutes {
    margin-bottom: 10px;
}